.App {
  margin: 0;
  padding-top: 2rem;
  transition: all 1s ease-in-out;
  min-height: 100vh;
}

.App-container.papayawhip {
  background-color: #fef3e1;
}

@media screen and (min-width: 700px) {
  .App {
    overflow: hidden;
    padding: 5rem 0;
    margin: 0 5rem;
  }
}

@media screen and (min-width: 1470px) {
  .App {
    margin: 0 15rem;
  }
}
