button {
  background-color: white;
  transition: 0.1s ease-out;
  border: 2px solid #f4ddb9;
}

button.big {
  width: 100%;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 6px 1rem rgba(244, 206, 183, 0.45);
}
