button {
  background-color: white;
  transition: 0.1s ease-out;
  color: #000000;
  border: 2px solid #fae0b3;
}

button.big {
  width: 100%;
}

button.blue:hover {
  background-color: #fae0b3;
  color: white;
}
