button {
  background-color: white;
  transition: 0.1s ease-out;
  border: 2px solid #D2D2D2;
}

button.big {
  width: 100%;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 6px 1rem rgba(0, 0, 0, 0.03);
}
