.LaunchBlock {
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  padding: 0.7rem 1.25rem;
  margin-bottom: 2rem;
  background-color: white;
  color: black;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.07);
  border-radius: 0.3rem;
  transition: all 0.25s cubic-bezier(.4,0,.2,1);
}

.LaunchBlock:hover {
  box-shadow: 0 0.65rem 0.8rem rgba(0, 0, 0, 0.14);
}

.LaunchBlock h6 {
  margin-top: 0.65rem;
  margin-bottom: 0.85rem;
  text-decoration: underline;
  text-decoration-skip: ink;
}


@media screen and (min-width: 900px) {
  .LaunchBlock, .LaunchBlock:before, .LaunchBlock:after {
    box-sizing: border-box;
  }
  .LaunchBlock {
    width: 100%;
    margin: 0 0 2em;
    display: inline-block;
  }
  /*.LaunchBlock h5 {
    font-size: 1.6rem;
  }*/
}

.LaunchBlock p {
  margin-bottom: 0.85rem;
}


.spx h5,.spx h6 {
  color: #00B7E7;
}

.ula h5,.ula h6 {
  color: #FBC017;
}

.nasa h5,.nasa h6 {
  color: #FC3D21;
}

.asa h5,.asa h6 {
  color: #45BFEF;
}

.isro h5,.isro h6 {
  color: #F58220;
}

.CASC h5,.CASC h6 {
  color: #214583;
}
