.Header {
  margin: 0 1.7rem 1rem 1.7rem;
}

header {
  width:400vw;
  transition: transform 400ms ease-in-out;
}

header h6 {
  margin: 0;
  display: inline-block;
  color: rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-out;
}

header a {
  display: inline-block;
  margin-right: 54px;
  text-decoration: none;
}

a.active > h6 {
  color: #FF00C0;
}

.pagination a {
  display: inline-block;
  margin-right: 0.35rem;
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-out;
}

.pagination .active {
  background-color: #FF00C0;
  box-shadow: 0 0.2rem 0.4rem rgba(255, 0, 192, 0.35);
}
